@model UpdateUserPasswordDTO


<a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Index" role="button">Retour</a>
<hr />


<form asp-route-id="@ViewBag.id" method="post">
    <fieldset>
        <div asp-validation-summary="ModelOnly"></div>
        <legend>Modification du mot de passe</legend>
        <div class="form-group">
            <label for="Password">Mot de passe actuel</label>
            <input type="password" class="form-control" asp-for="Password" id="lastName" placeholder="Mot de passe">
            <span class="text-warning" asp-validation-for="Password"></span>
        </div>
        <br /><br />
        <div class="form-group">
            <label for="firstnNewPasswordame">Nouveau mot de passe</label>
            <input type="password" class="form-control" asp-for="NewPassword" id="NewPassword" placeholder="Nouveau mot de passe">
            <small id="passwordlHelp" class="form-text text-muted">Votre mot de passe doit contenir au moins une minuscule, une majuscule, un chiffre, un charactère spécial.</small><br />
            <span class="text-warning" asp-validation-for="NewPassword"></span>
        </div>
        <br />
        <div class="form-group">
            <label for="CheckPassword">Verification du mot de passe</label>
            <input type="password" class="form-control" asp-for="CheckPassword" id="mail"  placeholder="Repeter le nouveau mot de passe">
            <span class="text-warning" asp-validation-for="CheckPassword"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Modifier</button>
    </fieldset>
</form>
